:root{
    --branco-principal: #FFFFFF;
    --dourado-segundario: #00030C;
    --cor-de-fundo:#00030C;
}

 .container{
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family:var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
 .principal{
    background-image: url("img/Background\ \(1\).png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
 }
 .container__botao{
    background-color:var(--dourado-segundario);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
 }
 .descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.8em;
 }